<%= stylesheet_link_tag "home" %>

<div class="page-title">Join a room<br>Help yourself to look for a room</div>

<div class="room-list">
	<% @subrooms.each do |sr| %>
	<div class="room">
		<div class="name"><%= sr.name %></div>
		<div class="desc"><%= sr.activity %></div>
		<a href="">Join</a>
	</div>
	<% end %>
</div>
