/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require plugins/bootstrap
*= require plugins/icomoon
*= require plugins/font-awesome
*= require fonts
*= require jquery.ui.datepicker
*= require plugins/jquery-ui-timepicker-addon

*/

span.error{
	position: absolute;
	display: block;
	background: #fff;
	color: red;
	padding: 5px 15px;
	border-radius: 3px;
	border: 1px solid #6B6B6B;
	top: -10px;
	right: 10px;
}
form label{
	color: #fff;
}
/*Chat CSS*/
html, body{
	background-color: #343e64;
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 320px;
}
header{
	background-color: #336699;
	width: 100%;
}
header .container{
	width: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -65px;
	padding: 0 0 65px;
}

@media screen and (max-width: 480px){
	#wrap{
		margin: 0 auto -37px;
		padding: 0 0 37px;
	}
}
.chat-header{
	/*padding: 20px 0px;*/
	font-family: 'Ubuntu', sans-serif;
}

.logo-box{
	font-size: 25px;
	padding: 20px;
}

.chat-header a{
	padding: 20px 0px;
	color: #eaeaea;
}
.chat-header a:active, .chat-header a:hover {
	color: #fff;
	text-decoration: none;
}

.user-dropdown {
	padding: 30px 0 20px 0;
}

.user-name{
	width: 100%;
}
.user-name span{
	width: 70%;
	vertical-align: middle;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.user-dropdown a:hover, .user-dropdown a:focus{
	color: #fff;
	text-decoration: none;
}

.dropdown-menu {
	position: absolute;
	top: 75% !important;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10px !important;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}


@media screen and (max-width: 480px){
	header .col-xs-9{
		width: 66.66%
	}
	header .col-xs-3{
		width: 33.33%
	}
	.logo-box{
		width: 60%;
		font-size: 18px;
		padding: 20px 10px;
	}
	.user-dropdown{
		width: 40%;
	}
	.user-name{
		font-size: 12px;
	}
	.user-dropdown {
		padding: 25px 0 20px 0;
	}
}


/* Footer */ 

footer{
	background-color: #336699;
	width: 100%;
}
footer .container{
	width: 100%;
}

.foo-btn{
	font-size: 18px;
	display: inline-block;
	padding: 20px;
	color: #fff;
}

@media screen and (max-width: 480px){
	.foo-btn{
		font-size: 12px;
		padding: 10px;
	}
}
.foo-btn:hover{
	color: #fff;
	text-decoration: none;
	background-color: #DC572E;
}