@font-face {
    font-family: 'UbuntuMedium';
    src: url('/assets/fonts/Ubuntu-M/ubuntu-m.eot');
    src: url('/assets/fonts/Ubuntu-M/ubuntu-m.eot') format('embedded-opentype'),
         url('/assets/fonts/Ubuntu-M/ubuntu-m.woff') format('woff'),
         url('/assets/fonts/Ubuntu-M/ubuntu-m.ttf') format('truetype'),
         url('/assets/fonts/Ubuntu-M/ubuntu-m.svg#UbuntuMedium') format('svg');
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url('/assets/fonts/Ubuntu-R/ubuntu-r.eot');
    src: url('/assets/fonts/Ubuntu-R/ubuntu-r.eot') format('embedded-opentype'),
         url('/assets/fonts/Ubuntu-R/ubuntu-r.woff') format('woff'),
         url('/assets/fonts/Ubuntu-R/ubuntu-r.ttf') format('truetype'),
         url('/assets/fonts/Ubuntu-R/ubuntu-r.svg#UbuntuRegular') format('svg');
}
